In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine= create_engine('postgresql://drwho:drwho@localhost:5432/ny_taxi')

## Questons

In [3]:
print('Question 3 - How many taxi trips were totally made on September 18th 2019?')

query = '''
SELECT COUNT(*) 
FROM green_tripdata 
WHERE date_trunc('day', lpep_pickup_datetime) = '2019-09-18' 
AND date_trunc('day', lpep_dropoff_datetime) = '2019-09-18'
'''
pd.read_sql (query, con=engine)

Question 3 - How many taxi trips were totally made on September 18th 2019?

   count
0  15612

In [4]:
print('Question 4 - Which was the pick up day with the largest trip distance Use the pick up time for your calculations.')

query = '''
SELECT lpep_pickup_datetime, trip_distance, row_number() OVER ( ORDER BY trip_distance DESC) AS rn
FROM green_tripdata 
ORDER BY rn
LIMIT 1
'''
pd.read_sql (query, con=engine)

Question 4 - Which was the pick up day with the largest trip distance Use the pick up time for your calculations.

  lpep_pickup_datetime  trip_distance  rn
0  2019-09-26 19:32:52         341.64   1

In [30]:
print('''Question 5 - Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?
      Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown''')

query = '''
SELECT tz."Borough"
FROM green_tripdata AS gt
JOIN taxi_zone AS tz
      ON gt."PULocationID" = tz."LocationID"
WHERE tz."Borough" <> 'Unknown'
      AND date_trunc('day', gt.lpep_pickup_datetime) = '2019-09-18'
GROUP BY  tz."Borough"
HAVING SUM(gt.total_amount) > 50000
'''
pd.read_sql (query, con=engine)

Question 5 - Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?
      Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

     Borough
0   Brooklyn
1  Manhattan
2     Queens

In [40]:
print('''Question 6 - For the passengers picked up in September 2019 in the zone name Astoria 
      which was the drop off zone that had the largest tip? We want the name of the zone, not the id.''')

query = '''
SELECT doz."Zone"
FROM green_tripdata AS gt
JOIN taxi_zone AS tz
      ON gt."PULocationID" = tz."LocationID"
JOIN taxi_zone AS doz
      ON gt."DOLocationID" = doz."LocationID"
WHERE tz."Zone" = 'Astoria'
      AND date_trunc('day', gt.lpep_pickup_datetime) >= '2019-09-01'
      AND date_trunc('day', gt.lpep_pickup_datetime) < '2019-10-01'
ORDER BY tip_amount DESC
LIMIT 1
'''
pd.read_sql (query, con=engine)

Question 6 - For the passengers picked up in September 2019 in the zone name Astoria
      which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

          Zone
0  JFK Airport