In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
engine= create_engine('postgresql://drwho:drwho@localhost:5432/ny_taxi')

## Questons

In [7]:
print('Question 3 - How many taxi trips were totally made on September 18th 2019?')

query = '''
SELECT COUNT(*) 
FROM green_tripdata 
WHERE date_trunc('day', lpep_pickup_datetime) = '2019-09-18' 
AND date_trunc('day', lpep_dropoff_datetime) = '2019-09-18'
'''
pd.read_sql (query, con=engine)

Question 3 - How many taxi trips were totally made on September 18th 2019?

   count
0  15612

In [12]:
print('Question 4 - Which was the pick up day with the largest trip distance Use the pick up time for your calculations.')

query = '''
SELECT lpep_pickup_datetime, trip_distance, row_number() OVER ( ORDER BY trip_distance DESC) AS rn
FROM green_tripdata 
ORDER BY rn
LIMIT 1
'''
pd.read_sql (query, con=engine)

Question 4 - Which was the pick up day with the largest trip distance Use the pick up time for your calculations.

  lpep_pickup_datetime  trip_distance  rn
0  2019-09-26 19:32:52         341.64   1